/* Zero Style */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------- */

body {
  background: #f1f1eb;
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  padding: 0;
  font-weight: 400;
  color: #4b321d;
  width: 1440px;
}

a {
  color: #4b321d;
}

img:not(#logo) {
  box-shadow: 0 0 15px 5px rgba(75, 50, 29, 0.2);
  border-radius: 16px;
  max-width: 100%;
}

main img {
  max-width: 590px;
  max-height: 886px;
}

#link {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  border: 2px solid #4b321d;
  border-radius: 3px;
  padding: 0 17px;
}

#link:hover {
  background: #4b321d;
  color: #f1f1eb;
}

#link span {
  font-size: 20px;
  line-height: 144%;
}

h1 {
  font-size: 80px;
  line-height: 125%;
  width: 1269px;
  margin: 0px 111px 136px 60px;
}

h2 {
  font-size: 80px;
  line-height: 125%;
  margin-bottom: 56px;
}

h3 {
  width: 601px;
  font-size: 38px;
  line-height: 116%;
  margin-bottom: 45px;
}

h4 {
  font-size: 26px;
  line-height: 140%;
}

/* HEADER */

.header {
  margin-bottom: 84px;
}

.container {
  width: 1320px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  padding: 40px 0;
  justify-content: space-between;
}

.header-nav__logo {
  display: inline-block;
}

.header-nav__list {
  display: flex;
  align-items: center;
  margin-right: 283px;
}

.header-nav__item {
  font-size: 18px;
  line-height: 160%;
}

.header-nav__item a:hover {
  color: #f1f1eb;
  text-shadow: #4b321d 0 0 3px;
}

.header-nav__item:not(:last-child) {
  margin-right: 36px;
}

/* MAIN */

.hero {
  display: block;
  margin: 0 auto;
  margin-bottom: 84px;
  max-width: 1400px;
  max-height: 928px;
}

.main-title {
  margin: 0 auto 84px;
  width: 1320px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 1320px;
  margin: 0 auto 90px;
}

.main-content__blok {
  width: 630px;
  margin: auto 0;
}

.main-bottom {
  background-color: #4b321d;
  border-radius: 16px;
  width: 1400px;
  margin: 0 auto 84px;
  box-shadow: 0 0 15px 5px rgba(75, 50, 29, 0.2);
}

.main-bottom h2 {
  display: inline-block;
  color: #f1f1eb;
  margin: 84px 159px 45px 60px;
}

.main-bottom h4 {
  display: inline-block;
  color: #f1f1eb;
  margin: 0px 1022px 110px 60px;
}

/* FOOTER */
