/* Zero Style */

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------------- */

.container {
  max-width: 1320px;
  margin: 0px auto;
}

/* HEADER */

.header {
}
.header-nav {
}
.header-logo__link {
}
.header-logo {
}
.header-nav__list {
}
.header-nav__item {
}
.header-nav__link {
}

/* MAIN */

.main {
}
.main-title {
}
.main-hero {
}
.main-hero__img {
}
.main-hero__title {
}
.main-title__secondary {
}
.main-button__link {
}
.main-button__text {
}
.main-content {
}
.main-content__img {
}
.main-content__blok {
}
.main-content__title {
}
.main-bottom {
}
.main-bottom__text {
}
.main-bottom__content {
}

/* FOOTER */

.footer {
}
.footer-coperait {
}
.footer-coperait__list {
}
.footer-coperait__item {
}
.footer-coperait__link {
}
.footer-coperait__logo {
}
.footer-sitemap {
}
.footer-sitemap__list {
}
.footer-sitemap__item {
}
.footer-sitemap__link {
}
.footer-works__list {
}
.footer-works__item {
}
.footer-works__link {
}
.footer-socialmedia {
}
.footer-socialmedia__item {
}
.footer-socialmedia__link {
}
